<a>Output in twig</a>

{# ... #}
<table>
    <tr>
        <td> <strong> Id </strong></td>
        <td> <strong> Name  </strong></td>
        <td> <strong> ParentId  </strong></td>
    </tr>
    {% for item in items %}
        <tr>
            <td> {{ item.Id }} </td>
            <td> {{ item.Name }} </td>
            <td> {{ item.ParentId }} </td>
        </tr>
    {% endfor %}
</table>